<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.format_sql">true</property>
	  
		<property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.timeout">5000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.unreturnedConnectionTimeout">3600</property>
		<property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property>

		<!-- Mapped classes -->
		<mapping class="pt.ncastro.markettradeprocessor.domain.Trade"/>

	</session-factory>
</hibernate-configuration>
